.serif {
  font-family: 'Domine', serif;
  font-size: 300%
}

.light {
  font-family: 'Poppins', sans-serif;
  font-size: 50%
}

.medium {
  font-family: 'Nunito Sans', sans-serif;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.background {
  background-color: #0e1111;
}
 
  div.col-lg-6 {
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
}

.space {
  font-family: 'Domine', sans-serif;
  font-size: 300%;
  text-align: center;
  color: #FFFFFF;
}

#center {
  text-align: center;
}
