.serif {
  font-family: 'Domine', serif;
  font-size: 300%
}

.light {
  font-family: 'Poppins', sans-serif;
  font-size: 50%
}

.medium {
  font-family: 'Nunito Sans', sans-serif;
}


div {
  margin: 10px;
}
